---
import { Media } from 'accessible-astro-components';

interface Props {
  imgSrc: string;
  graphicSrc: string;
  reverseImg?: boolean;
}

const { imgSrc, graphicSrc = '', reverseImg = false } = Astro.props;
---

<section class="my-32">
  <div class="container">
    <div class="grid grid-cols-1 gap-24 md:grid-cols-2 lg:gap-48">
      {
        !reverseImg ? (
          <div>
            <Media
              class="invisible absolute -left-1/3 -bottom-1/4  h-56 rounded-xl md:visible lg:h-80"
              src={graphicSrc}
            />
            <Media class="aspect-[4/3] h-72 rounded-xl border-4 object-cover lg:h-96" src={imgSrc} />
          </div>
        ) : (
          ''
        )
      }
      <div class="space-content flex flex-col justify-center">
        <slot />
      </div>
      {
        reverseImg ? (
          <div class="relative self-center">
            <Media
              class="invisible absolute -left-1/3 -bottom-1/4  h-56 rounded-xl md:visible lg:h-80"
              src={graphicSrc}
            />
            <Media class="aspect-[4/3] h-72 rounded-xl border-4 object-cover lg:h-96" src={imgSrc} />
          </div>
        ) : (
          ''
        )
      }
    </div>
  </div>
</section>
